body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.card{
    max-width: 18rem;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
 
    text-align: center;
}
p{
    size: 1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
img{    border-radius: 10px;
padding-top: 5px;
}
