body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
div{
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
p{
    size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
img{    border-radius: 10px;
padding-top: 5px;
}